.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 7%
    right: 5%
  &-2
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 66%
    right: 8%
    z-index: 0


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
@keyframes float2
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)
// TAMAÑO IMAGENES //
.img18
   max-width: 18px !important
.img30
   max-width: 30px !important
.img40
  max-width: 40px !important
.img50
  max-width: 50px !important
.img60
  max-width: 60px !important
.img70
   max-width: 70px !important
.img80
   max-width: 80px !important
.img90
  max-width: 90px !important
.img100
  max-width: 100px !important
.img120
  max-width: 120px !important
.img130
  max-width: 130px !important
.img140
  max-width: 140px !important
.img160
  max-width: 160px !important
.img180
  max-width: 180px !important
.img190
  max-width: 190px !important
.img200
  max-width: 200px !important
.img250
  max-width: 250px !important
.img300
  max-width: 300px !important
.img350
  max-width: 350px !important
.img400
  max-width: 400px !important
.img420
  max-width: 420px !important
.img450
  max-width: 450px !important
.img600
  max-width: 600px !important
.img700
  max-width: 700px !important
.img800
  max-width: 800px !important
.img900
  max-width: 900px !important

//COLOR CONTENIDOS//
.colr
  color: white
  span
    color: white !important
  &_1
    color: #EB6F2D
//BACKGROUND CONTENIDOS//
.bgr
  background-image: url("../assets/curso/tema1/fondo1.svg")
  background-repeat: no-repeat
  background-size: cover
  &_1
    background-image: url("../assets/curso/tema1/fondo2.png")
    background-repeat: no-repeat
    background-size: cover
  &_2
    background-color: #DEE9F0
  &_3
    background-color: #FFE6A1
  &_4
    background-color: #EB6F2D !important
    border-color: #EB6F2D !important
  &_5
    background-color: #F5F5F5
  &_6
    background-color: #C9D9C6
  &_7
    background-color: #FFD667
    height: 70px
  &_8
    background-color: #EDEDED
  &_9
    background-color: #E8E8E8
  &_10
    background-color: #FFE6A1
    &::before
      background-color: #FFBB00
  &_11
    .tarjeta-flip__img
      background-color: none
    .tarjeta-flip__contenido
      background-color: #FDF6F2
  &_12
    .tarjeta-flip__img
      background-color: none
    .tarjeta-flip__contenido
      background-color: #F2F7F1
  &_13
    background-color: #FFD8C4
  &_14
    background-color: #DEEADB
    border-left: 3px solid white !important
    border-bottom: 3px solid white !important
  &_15
    background-color: #FFD667
    border-right: 3px solid white !important
    border-bottom: 3px solid white !important
  &_16
    background-color: #FFDDCB
  &_17
    background-color: #01517D
    &:hover
      background-color: #0387D0
    *
      color: white
  &_18
    background-image: url("../assets/curso/tema3/fondo1.png")
    background-repeat: no-repeat
    background-size: cover
  &_19
    background-color: #DEEADB
  &_20
    background-color: #FFEBB5
    border-radius: 10px
    &:hover
      background-color: #FFB690
  &_21
    background-color: #DEF1FF
  &_22
    .tabs-c__tab--active
      border-bottom-color: #EA3065 !important
      &::before
        border-top-color: #EA3065 !important  
  &_23
    background-color: #93CAE8
//FONDOS COMPLETOS DE CONTENIDO//
.bg_grad-01
  position: relative
  .row, p, h2, .titulo-segundo
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 14%
    left: 0
    width: calc( 100% + 6rem)
    height: calc( 100% + 3rem)
    background-image: url("../assets/curso/tema2/fondo1.svg")
    background-repeat: no-repeat
    background-size: cover
.bg_grad-02
  position: relative
  .row, p, .tabla-a, .titulo-segundo
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -22px
    left: 0
    width: calc( 100% + 6rem)
    height: calc( 100% + 2rem)
    background: rgb(255,246,222)
    background: linear-gradient(180deg, rgba(255,246,222,1) 0%, rgba(255,255,255,1) 100%)
.bg_grad-03
  position: relative
  .row, p, h2, .titulo-segundo
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -5%
    left: 0
    width: calc( 100% + 6rem)
    height: calc( 100% + 4rem)
    background-image: url("../assets/curso/tema4/fondo1.svg")
    background-repeat: no-repeat
    background-size: cover
.bg_grad-04
  position: relative
  .row, p, .tabla-a, .titulo-segundo
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 10%
    left: 0
    width: calc( 100% + 6rem)
    height: 93%
    background: rgb(3,135,208)
    background: linear-gradient(180deg, rgba(3,135,208,0.10717790534182425) 0%, rgba(2,68,104,0.03154765324098385) 100%)  
//POSICION EN PANTALLA//
.pst
  position: absolute
  width: 63px
  top: 14%
  left: 7%
  @media screen and (max-width: 992px)
    width: 51px
    top: 4%
    left: 9%
  @media screen and (max-width: 420px)
    width: 30px;
    top: 14px;
    left: 22px;
  &_1
    position: absolute
    width: 27px
    bottom: 20%
    left: 89%
    @media screen and (max-width: 420px)
      width: 30px;
      bottom: 21px;
      left: 85%;
  &_2
    .tabs-a__tab__selected
      .tabs-a__tab__text
        color: white
    .tabs-a__tab
      background-color: #E8E8E8
    .tarjeta.color-acento-botones--borde
      border: none
      background-color: #DEEADB
  &_3
    padding: 80px 0 80px 0
  &_4
    position: absolute
    width: 63px
    top: 5%
    left: 87%
    
  
///////////// CUSTOM LINEA DE TIEMPO D
.linea-tiempo-d__item.row.linea-tiempo-d__item--selected
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #BEC9BA !important
      color: black
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #DEEADB

/// non selected
.linea-tiempo-d__item.row
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #F6F6F6
    .linea-tiempo-d__item__dots:after
      border-left: 4px dotted #adb8c2 !important
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #F6F6F6

//CLASES SOBREESCRITAS//
.img-infografica.color-acento-contenido .img-infografica__item__numero
  color: white
.pasos-b__header__item--before .pasos-b__header__item__line-container
  &::before
    background-color: #0387D0
  &::after
    background-color: #0387D0 
.pasos-b__header__item--active .pasos-b__header__item__line-container
  &::before
    background-color: #0387D0 
.pasos-b__header__item--before .pasos-b__header__item__dot 
    border-color: #0387D0;
    background-color: #0387D0;

